*{
    margin: 0px;
    padding: 0px;
}
.button{
    width: 80px;
    height:80px;
    font-size: 25px;
    margin: 2px;
    cursor: pointer;
    background: #46ADCE;
    border: none;
    color: white;
}
.textview{
    width: 325px;
    height: 50px;
    margin: 5px;
    font-size: 40px;
    padding: 5px;
    border: none;
    color: #288FB2;

}

.main{
    position: absolute;
    top: 20%;
    left: 75%;
    transform: translateX(-50px) translateY(-50px) ;
}
.bg{
    position:relative;
    width: 100%;
    background: url("../img/bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height:650px;

}

.size1{
    height: 164px;
}
.size2{
    width: 165px;
}